In [1]:
import pandas as pd

In [3]:
data_db = pd.read_json("ProductDataCatalogue 08=07-2021.json")

In [56]:
data_file = pd.read_json("jf_bot_rated.json")

In [4]:
data_db.head()

,_id,data,info,request,__v,rating
0,{'$oid': '608fc9d76055a9d5ce70d2cb'},{'images': [{'xpath': '/html[1]/body[1]/div[3]...,{'verifiedBy': ['MPN']},"{'domain': '.com', 'requestId': '10', 'website...",0,5.98
1,{'$oid': '608fc9d76055a9d5ce70d2ce'},"{'images': [{'width': 552, 'naturalHeight': 44...",{'verifiedBy': []},"{'domain': '.com', 'requestId': '10', 'website...",0,4.61
2,{'$oid': '608fc9d76055a9d5ce70d2cd'},{'images': [{'xpath': '/html[1]/body[1]/div[1]...,{'verifiedBy': []},"{'domain': '.com', 'requestId': '10', 'website...",0,0.00
3,{'$oid': '608fc9d76055a9d5ce70d2cc'},{'images': [{'xpath': '/html[1]/body[1]/div[3]...,{'verifiedBy': ['MPN']},"{'domain': '.com', 'requestId': '10', 'website...",0,5.98
4,{'$oid': '608fc9d76055a9d5ce70d2d0'},"{'images': [{'width': 618, 'naturalHeight': 60...",{'verifiedBy': []},"{'domain': '.com', 'requestId': '10', 'website...",0,-1.00

In [5]:
data_file.head()

                                              result   status
0  {'asyncRequestId': 'b26e2b40-d23b-11eb-9307-cb...  success
1  {'asyncRequestId': 'b26e2b40-d23b-11eb-9307-cb...  success
2  {'asyncRequestId': 'b26e2b40-d23b-11eb-9307-cb...  success
3  {'asyncRequestId': 'b26e2b40-d23b-11eb-9307-cb...  success
4  {'asyncRequestId': 'b26e2b40-d23b-11eb-9307-cb...  success

In [11]:
len(data_db['request'].value_counts())

5672

In [36]:
print (data_db['request'][:10], data_db['rating'][:25])

0    {'domain': '.com', 'requestId': '10', 'website...
1    {'domain': '.com', 'requestId': '10', 'website...
2    {'domain': '.com', 'requestId': '10', 'website...
3    {'domain': '.com', 'requestId': '10', 'website...
4    {'domain': '.com', 'requestId': '10', 'website...
5    {'domain': '.com', 'requestId': '10', 'website...
6    {'domain': '.com', 'requestId': '6', 'websites...
7    {'domain': '.com', 'requestId': '6', 'websites...
8    {'domain': '.com', 'requestId': '6', 'websites...
9    {'domain': '.com', 'requestId': '6', 'websites...
Name: request, dtype: object

In [51]:
len(db_requests)

5672

In [50]:
len(db_ratings)

5672

In [52]:
db_requests[:10]

[{'domain': '.com',
  'requestId': '10',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '4186002L2'},
 {'domain': '.com',
  'requestId': '6',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '1180408L1'},
 {'domain': '.com',
  'requestId': '2',
  'websites': [],
  'brand': 'ADA I STAGGERS',
  'mpn': '02-0140-01'},
 {'domain': '.com',
  'requestId': '7',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '1184561PG3'},
 {'domain': '.com',
  'requestId': '12',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '4203376L1-AC'},
 {'domain': '.com',
  'requestId': '11',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '4200624L1#ATM'},
 {'domain': '.com',
  'requestId': '14',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '4213640L1#ATM'},
 {'domain': '.com',
  'requestId': '21',
  'websites': [],
  'brand': 'ADVA OPTICAL NETWORKING',
  'mpn': '63708420'},
 {'domain': '.com',
  'requestId': '13',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '4203612L1#ATM'},
 {'domain': '.com',
  'requestId': '8',
  'websites': [],
  'brand': 'ADTRAN INC',
  'mpn': '1186001L1'}]

In [48]:
db_requests = []
db_ratings = []
for req, rat in zip(data_db['request'], data_db['rating']):
    
    if req not in db_requests:
        
        db_requests.append(req)
        db_ratings.append(rat)
        
    elif req in db_requests:
        
        ind = 0
        
        while ind < len(db_requests):
            
            if req == db_requests[ind] and rat > db_ratings[ind]:
                
                db_ratings[ind] = rat
            
            ind += 1

In [54]:
comp_products[0]['request']

{'brand': '3M',
 'domain': '.com',
 'mpn': '98040056453',
 'requestId': 3,
 'title': '3M 98040056453 FIP FIRE BARRIER RATED FOAM, FIP 1-STEP, 12.85 FL OZ',
 'websites': []}

In [55]:
db_requests[0]

{'domain': '.com',
 'requestId': '10',
 'websites': [],
 'brand': 'ADTRAN INC',
 'mpn': '4186002L2'}

In [19]:
comp_products = []
for response in data_file['result']:
    
    comp_products.append(response)

In [66]:
file_ratings = []
file_requests = []
for comp_rated_prod in comp_products:
    
    maximum = -100

    index = 0 
 
    for data in comp_rated_prod['results']:

        #print (data['data'].keys())

        #print ("{}   {}".format(index, data['data']['rating']))

        if data['data']['rating'] > maximum:



            maximum = data['data']['rating']

            maximum_index = index



        index += 1
    

    file_ratings.append(maximum)
    file_requests.append(comp_rated_prod['request'])
    #temp = comp_rated_prod['results'][0]
    #comp_rated_prod['results'][0] = comp_rated_prod['results'][maximum_index]
    #comp_rated_prod['results'][maximum_index] = temp  

    #while (1 < len(comp_rated_prod['results'])):

     #   comp_rated_prod['results'].pop()

In [59]:
len(file_ratings)

283

In [78]:
file_requests[0]['brand']

{'brand': '3M',
 'domain': '.com',
 'mpn': '98040056453',
 'requestId': 3,
 'title': '3M 98040056453 FIP FIRE BARRIER RATED FOAM, FIP 1-STEP, 12.85 FL OZ',
 'websites': []}

In [79]:
file_requests[0]['brand']

'3M'

In [80]:
file_requests[0]['mpn']

'98040056453'

In [89]:
for i in db_requests:
    
    try:
        
        i['brand']
        i['mpn']

    except:
        
        print (i)

{'domain': '.com', 'requestId': '82', 'websites': [], 'mpn': '377-1942-ND'}
{'domain': '.com', 'requestId': '67', 'websites': [], 'mpn': '22D02201SM050MX'}
{'domain': '.com', 'requestId': '154', 'websites': [], 'mpn': 'ACX2200-AC'}
{'domain': '.com', 'requestId': '281', 'websites': [], 'mpn': "LMR400 CABLE 10'"}
{'domain': '.com', 'requestId': '111', 'websites': [], 'mpn': '600918150-1'}

In [88]:
db_requests[0]

{'domain': '.com',
 'requestId': '10',
 'websites': [],
 'brand': 'ADTRAN INC',
 'mpn': '4186002L2'}

In [67]:
len(file_requests)

283

In [93]:
df_requests =  []
df_f_ratings = []
df_db_ratings = []
df_match = []
for f_req, f_rat in zip(file_requests, file_ratings):
    
    for db_req, db_rat in zip(db_requests, db_ratings):
        
        try:
            
        
            if f_req['brand'] == db_req['brand'] and f_req['mpn'] == db_req['mpn']:

                df_requests.append(f_req)
                df_f_ratings.append(f_rat)
                df_db_ratings.append(db_rat)

                if f_rat == db_rat:

                    df_match.append('Yes')

                else:

                    df_match.append('No')
                    
                break
                    
        except:
            
            pass

In [96]:
output_df = pd.DataFrame({'request': df_requests,
                        'max rating file': df_f_ratings,
                         'max rating db': df_db_ratings,
                         'match': df_match})

In [105]:
output_df.to_csv("output.csv")

In [103]:
output_df.match.value_counts()

Yes    283
Name: match, dtype: int64